<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Monotype.SkyFonts.Ext.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.92.0" newVersion="1.0.92.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Monotype.SkyFonts.Ext.Properties.Settings>
      <setting name="NotifyFontAdded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyFontRemoved" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontNameNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DuplicateFontNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontExpiryWarning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstInstallation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartUp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifySync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewFonts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoolgeFontDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="MyFontsFontDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableTracing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDeleteWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSubscriptionExpiryWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastSubscriptionExpiryWarning" serializeAs="String">
        <value />
      </setting>
    </Monotype.SkyFonts.Ext.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <!--<trace autoflush="false">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="trace-skyfont.log" />
      </listeners>
    </trace>-->
    <switches>
      <add name="PubnubTraceSwitch" value="3" />
    </switches>
  </system.diagnostics>
  <appSettings file="SkyFonts.exe.appsettings.config"></appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>